body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    position: relative;
    align-items: center;
}

.custom-button {
    padding : none;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 17px;
    
}

.logo img {
    width: 120px;
    height: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}


main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
    background-color: #000000;
    padding-top: 13px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 55px;
    position: fixed;
    bottom: 0pt;
    width: 100%;
    height: 20px;
  
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #50d843;
}

.music-player {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  width: 97%;
  padding: 10px;
  border-radius: 5px;
}

.controls {
  display: flex;
  align-items: center;
  flex: 1;
}

.progress-bar {
  flex: 1;
  height: 5px;
  background-color: #ccc;
  margin: 0 10px;
  position: relative;
}

.progress {
  height: 100%;
  background-color: #333;
  width: 50%;
}

.song-info {
  flex: 1;
  text-align: center;
}

.song-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
}

.song-artist {
  font-size: 14px;
}

.play-pause-button {
    width: 44px;
    height: 44px;
    position: relative;
  }
  
input[type="checkbox"] {
  display: none;
}

label {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

label::after,
label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: transform 0.3s ease;
}
  
label::after {
width: 14px;
height: 14px;
border-radius: 50%;
} label::before {
  width: 8px;
  height: 28px;
}

input[type="checkbox"]:checked + label::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

input[type="checkbox"]:checked + label::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.clickable-title {
  color: #000;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease;
  max-width: 100%;
  transform-origin: left center; 
}

.clickable-title:hover {
  transform: scale(1.2);
}
